<% @bets.each do |bet| %>
<li class="well well-small">
  <span class="user_name"><strong><%= bet.user_name %></strong></span> wagered <strong><%= bet.wager %></strong> that:<br/>
  <p><%= bet.body %></p>
  <a class="btn btn-success" href="">Take bet!</a>
</li>
<% end %>