<span class="hidden" id="status"></span>
<ul id="reviews-list" class="hidden"></ul>

<script>
$(document).ready( poll(6) )

function getDash(showName) {
    $.ajax('dashboard/'+showName, {
        dataType : 'html'
    }).done(function(data) {
        console.log(data);
        $("body").prepend(data);
    })};

var timeOnPage = 0;
setInterval(function () {
    timeOnPage += 1;
    console.log('TOP: ' + timeOnPage);
}, 1000);


function poll(offset) {
    console.log("function offset called");
    var time = 6 + timeOnPage
    appendBets(time);
    setTimeout(poll, 5000);
}

function appendBets(time) {
    console.log("function appendBets called");
    $.ajax('bets/'+time, {
        dataType : "html"
    }).done(function(data) { $("#better").html(data) } )
}

(function() {

    function onBridgeIsReady() {
        // Display our apps title in the header bar
            VAPP.setTitleBarTitle(function(message) {}, 'Reviews');
            VAPP.getCurrentShow(function (message) {
                var showInfo = JSON.parse(message);
                //  handle current show error
                if (showInfo.status !== 'success') {
                    VAPP.showModal(function(message) {}, 'Oops ...', null, 'Unable to get show info.', 'Please try again.', false);
                    return;
                }
                // Name of the current show
                var showName = showInfo.data.program_data.program_title;
                console.log(showName);
                getDash(showName);
                $('#status').append(showName);
                // Display the show name in the sub header bar
                VAPP.setTitleBarSubTitle(function(message) {}, showName);
                //Check if user is checked in
                VAPP.getCurrentShowCheckInOffset(function(message){
                    var checkInInfo = JSON.parse(message);
                    //  handle checkin error
                    if (!checkInInfo.data.offset > 0) {
                        VAPP.showModal(function(message) {}, 'Oops ...', null, 'You are not checked into this show', 'Check in and then try again', false);
                        VAPP.close(function(m){});
                        return;
                    } else {
                        var offset = JSON.stringify(message.data.offset);
                        poll(offset);
                    }

                    //  for linking to show resources
                    // var showNameEncoded = showName.replace(/ /g, '-').toLowerCase();
                    // var urlList = {
                    //     'Metacritic' : 'http://www.metacritic.com/tv/' + showNameEncoded,
                    //     'TV' : 'http://www.tv.com/shows/' + showNameEncoded,
                    //     'MSN' : 'http://tv.msn.com/tv/series/' + showNameEncoded,
                    //     'Jinni' : 'http://jinni.com/tv/' + showNameEncoded
                    // };
                    // for (url in urlList) {
                    //     $('#reviews-list').append('<li><a href="' + urlList[url] + '">' + url + '</a></li>');
                    // };
                });

            });
    }

    // Kick off script
    document.addEventListener('VAPPReady', onBridgeIsReady, true);
    console.log("event listener set");
    $('#status').append("event listener set");
})();
</script>